
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


#root {
  background-color: #333;
}

.paint-container {
  background-color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Nunito Sans';
  color: rgb(233, 233, 233);
  text-align: center;
}

.toolbar {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.toolbar input[type="color"],
.toolbar input[type="range"] {
  margin-right: 10px;
}

.toolbar button {
  background-color: rgb(5, 170, 182);
  border: 1 px solid rgb(212, 212, 212);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.toolbar button:hover {
  background-color:  rgb(5, 170, 182);
}

.canvas {
  background-color: #333;
}



